@font-face {
    font-family: 'open_sans';
    src:local('OpenSans-Light-webfont.woff'), 
    	url('./Assets/Fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src:local('OpenSans-Regular-webfont.woff'),  
    	url('./Assets/Fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src:local('OpenSans-Semibold-webfont.woff'),  
    	url('./Assets/Fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
	font-family: "open_sans";
	margin: 0;
	padding: 0;			
	--viewportMarginRight: 2vw;
	--viewportMarginRight2: 5.3vw;
	--viewportMarginLeft: 4vw;
	--checkIconSize: 15.5%;
	--clr-blue: #1939d4;
	--clr-white: rgba(255, 255, 255, .7);
	--clr-shadow: rgba(0, 0, 0, .65);
	--clr-bg: #E9E6D9;
	background-image: url(Assets/BG0.jpg);
}

h3{
	font-size: 1.25vw;
	margin-top: 15%;
	margin-bottom: 7.5%;
	color: var(--clr-blue);
}

p{
	font-size: 1vw;
	margin-top: 0;
	color: var(--clr-blue);
}

/*flex-box*/

.container{
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.simulationSection{
	flex: 1 1 55%;
	align-content: center;
	position: relative;
}

.manualSection{
	flex: 1 1 45%;
	overflow: hidden;	
}

.videoPlayer{	

	width: auto;
	/*Make scrollable if out of viewport*/
	height: 100vh;
	border-radius: 10px;
	position: relative;
}

.slider{
	/*cropping window size*/
	/*width: 240px;*/
	/*viewport*/
	height: 48vh;
	margin-right: var(--viewportMarginRight);
	border-radius: 10px;
	/*cropping window enable*/
	overflow: hidden;
	object-fit: cover;
	position: relative;

	/*border: 2px solid red;*/
}

.instruction{
	height: 37vh;
	display: flex;
	margin-right: var(--viewportMarginRight2);
	border-radius: 10px;
	object-fit: cover;

	/*border: 2px solid red;*/
}

.navigationBtn{
	height: 15vh;
	margin-right: var(--viewportMarginRight2);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 1.3vw;
	border-radius: 10px;
	object-fit: cover;

	/*border: 2px solid red;*/
}

/* video player*/

.videos{
	/*border: 2px solid black;*/
	/*control slide div to fit slider viewport*/
	/*how many images*/
	width: auto;
	/*img size*/
	height: 99vh;
}

.videox{
	width: auto;
	height: 99vh;	
	position: absolute;
	left: 50%; 
    transform: translate(-50%,1%); 
    display: none;
    z-index: -1;
}

.active{
	display: block;
	/*z-index: 1001;*/
}

/*info panel*/

.panelOne{
	width: 5.5vh;
	height: 16.5vh;
	background: var(--clr-white);	
	position: absolute;
	top: 8vh;
	left: var(--viewportMarginLeft);
	z-index: 100;
	cursor: pointer;

	font-size: 1vw;
	border-radius: 0.5em;
}

.panelTwo{	
	width: 22vh;
	height: 22vh;
	background: var(--clr-white);	
	position: absolute;
	bottom: 7vh;
	left: var(--viewportMarginLeft);

	font-size: 1vw;
	border-radius: 0.5em;
}

#planelOneText{
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.svgIcons{
	width: 100%;
	height: 1vh;
	position: absolute;
	top: 0;
}

.playIcon{
	width: 60%;
	height: 28%;	
	transform: translate(10%, 0)
}

#planelTwoText{
	width: 82%;
	height: 30%;	
	margin: 0 auto;
	margin-top: 20.5%;
	transform: translate(7%, 0)
}

/*play icon status*/

.c{
	stroke: var(--clr-blue);
	stroke-width: 0.3;
}

.cActive{
	fill: var(--clr-blue);
}

.t{
	fill: var(--clr-blue);
}

.tActive{
	fill: white;
}

.t1{
	stroke: var(--clr-blue);
	stroke-width: 0.3;
}

.t1Active{
	stroke: white;
	stroke-width: 0.4;
}

/*slider*/

.slides{	
	/*control slides div to fit slider viewport*/
	/*X-distribution*/
	width: 200%;
	/*img size*/
	height: 20vh;
	display:  flex;
	margin-top: 8vh;	
	/*slide movement*/
	margin-left: -5px;	
	transition: margin-left 1.5s;
	transform:translateX(-28px);
}

.slide{
	/*X-distribution*/
	width: 100%;
	position: relative;
}

/*img size fit*/

.imgS{
	width: auto;
	height: 20vh;	
	position: absolute;
	left: 50%; 
    transform: translate(-50%, 0); 
    cursor: pointer;    
    transition: height 100ms linear;
}

.imgHover:hover{
	height: 21vh;
}

#phaseOne6{
	width: auto;
	height: 92%;
}

#phaseOne6:hover{
	width: auto;
	height: 98%;
}

.slide.x{
	position: relative;
}

.checkIcon{
	/*1:1 aspect ratio*/
	height: var(--checkIconSize);
	padding-right: var(--checkIconSize);

	cursor: pointer;
	z-index: 5;
	position: absolute;
	left: 90%;
	bottom: var(--checkIconSize); 
}

.checkIcon img{
	height: 100%;
	position: absolute;
	top: 100%;
}

.rangeSlider{	
	margin: auto;	
	margin-top: 5.7%;	
	position: relative;
}

.rangeSlider.width{	
	width: 90%;
}

/*slider's bar*/

#slider{		
	display: block;
	margin: auto;
	width: 100%;
	-webkit-appearance: none;
	font-size: 1vw;
	height: .575em;
	outline: none;
	border-radius: 1em;
	background: var(--clr-blue);
}

/*slider's button*/

#slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	font-size: 1vw;
	height: 1.65em;
	width: .575em;
	cursor: pointer;
	z-index: 3;
	border-radius: 1em;
	background: white;
	box-shadow: 0px 1px 10px 1px var(--clr-shadow);
}

/*Steps*/

.column{
	text-align: center;
	flex: 1 1 30%;

	/*border: 2px solid blue;*/
}

.column.gap{
	color: var(--clr-blue);
	flex: 1 1 5%;

	font-size: 1.8vw;

	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;	
}

.column.long{
	flex: 1 1 30%;
}

.step{
	font-size: 1.8vw;

	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	margin: 0 auto;
	vertical-align: middle;
	border-radius: 50%;
	color: var(--clr-blue);
	background: var(--clr-white);
}

.step.Active{
	color: white;
	background: var(--clr-blue);
}

.pWrap{
	text-align: left;
	margin-right: 2.2vw;
	margin-left: 2.2vw;

	/*border: 2px solid red;*/
}

/*Button*/

.button{
	font-size: 1vw;

	height: 1.2em;
	line-height: 1.2em;
	text-decoration: none;
	color: var(--clr-blue);
	/*border: var(--clr-blue) 0.125em solid;*/
	background: var(--clr-white);
	padding: 0.35em 1.2em;
	border-radius: 0.5em;
	margin-bottom: 7vh;
	position: relative;
}

.button.BGSlide::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0.5em;
	z-index: -1;
	background: var(--clr-blue);

	transition: transform 150ms ease-in-out;
	transform: scaleX(0);
	transform-origin: center;
}

.button.BGSlide:hover::before{
	transform: scaleX(1.0);
}

.button.BGSlide{
	transition: color 150ms ease-in-out;
	transition: scale 150ms ease-in-out;
	z-index: 1;
}

.button.BGSlide:hover{
	color: white;
	transform: scale(1.06);
}

@media (max-width: 900px){
	body{
		--viewportMarginRight2: 2em;
	}

	p{
		font-size: .9em;		
		margin-top: 0;
	}

	.button{
		font-size: 1em;
		margin-bottom: 0;
		margin-right: var(--viewportMarginRight2);
		margin-left: var(--viewportMarginRight2);
	}

	.text{
		left: 0%;
		transform: translate(30%,2.3%);
	}

	.videox{
		width: auto;
		height: 55vh;	
		position: absolute;
		left: 50%;
		/*vid height*/
		top: 73.5%;
  		transform: translate(-50%,-50%);   	  
	}

	.navigationBtn{
		height: auto;
		width: 100vw;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;		
    	align-items: flex-start;
		justify-content: space-between;
		gap: 1.3em;
		position: fixed;
		/*height*/
		bottom: 4%;
		right: 0;
	}

	.skip{
		display: none;
	}

	.container{
		flex-direction: column;
	}

	.simulationSection{
		flex: 1 0 0%;
		/*height*/
		height: 56.6%;
		align-content: center;
		position: relative;
	}

	.manualSection{
		flex: 1 0 0%;
		overflow: visible;
		position: relative;
	}

	.videoPlayer{
		height: 100%;
	}

	.instruction{
		width: 100%;
		position: fixed;
		top: 5%;		
		margin-right: 0;
		height: 0;
	}

	.slider{
		height: 30%;
		margin-right: 0;
		overflow: visible;
	}

	.slides{
		width: 180%;
		margin-top: 10%;
		margin-left: 24px;
	}

	#phaseOne6{
		width: 115%;
		height: auto;
	}

	#phaseOne6:hover{
		width: 126%;
		height: auto;
	}

	.imgS{
		width: 93%;
		height: auto;
	}

	.imgHover:hover{
		width: 104%;
		height: auto;
	}

	.checkIcon img{
		top: -20%;
		right: 45%;
	}

	.rangeSlider{
		margin-top: 0%;
		position: fixed;
		/*height*/
		bottom: 14%;
		right: 0; 
		width: calc(100% - 4em);
		margin-right: var(--viewportMarginRight2);
	}

	.rangeSlider.width{
		width: calc(100% - 4em);
	}

	#slider{
		height: 1.475em;
	}

	#slider::-webkit-slider-thumb{
		font-size: 3em;
	}

	.marginL{
		margin-left: var(--viewportMarginRight2);
	}

	.marginL2{
		margin-left: 43vw;
	}

	.marginR{
		margin-right: var(--viewportMarginRight2);
	}

	.step{
		font-size: 1em;
	}

	.pWrap{
		font-size: 0.7em;
	}

	h3{
		font-size: 1em;		
		margin-top: 0;
	}

	.column.gap{
		font-size: 1em;
	}

	.moblieH3{
		display: block;
		position: fixed;
		top: 11%;
	}

	.moblieP{		
		display: block;	
		position: fixed;
		top: 11%;
	}
}