body{
	margin: 0;
	padding: 0;			
	--viewportWidth: 380px;
	--viewportHeight: 660px;	
	background-color: #E9E6D9;
}

.container{
	display:  flex;
	width: 100vw;
	height: 100vh;	
	overflow: hidden;
}

.simulationSection{
	flex: 1 1 56%;
	align-content: center;
}

.manualSection{
	flex: 1 1 44%;
	overflow: hidden;	
}

.videoPlayer{	

	width: auto;
	/*Make scrollable if out of viewport*/
	height: 100vh;
	border-radius: 10px;
	position: relative;
}

.slider{
	width: var(--viewportWidth);
	/*Make scrollable if out of viewport*/
	height: 50vh;
	border-radius: 10px;
	/*cropping window*/
	overflow: hidden;
	object-fit: cover;
}

.instruction{
	height: 35vh;
	border-radius: 10px;
	object-fit: cover;
	z-index: ;
}

.navigationBtn{
	height: 15vh;
	border-radius: 10px;
	object-fit: cover;
}






/*img fit*/
.slide.first img{
	width: var(--viewportWidth);
	height: auto;
	object-fit: contain;
	margin-left: 0;
}

.slide img{
	width: var(--viewportWidth);
	height: auto;
	object-fit: contain;
}

.slides{
	/*border: 2px solid black;*/
	/*control slide div to fit slider viewport*/
	/*how many images*/
	width: 600%;
	/*img size*/
	height: auto;
	display:  flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

/*CSS for manual slide navigation*/
/*
.navigation-manual{
	position: absolute;
	width: var(--viewportWidth);
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #1C3CD4;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #1C3CD4;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

#radio5:checked ~ .first{
	margin-left: -80%;
}

#radio6:checked ~ .first{
	margin-left: -100%;
}*/





/* video player*/

.videos{
	/*border: 2px solid black;*/
	/*control slide div to fit slider viewport*/
	/*how many images*/
	width: auto;
	/*img size*/
	height: 99vh;
}

.videox{
	width: auto;
	height: 99vh;	
	position: absolute;
	left: 50%; 
    transform: translate(-50%, 0); 
    display: none;
    z-index: -1;
}

#phaseOneV1{
	display: block;
}