body{
	margin: 0;
	padding: 0;			
	--viewportWidth: 380px;
	--viewportHeight: 660px;
	--viewportMarginRight: 2vw;
	--viewportMarginRight2: 6vw;
	--clr-blue: #1939d4;
	--clr-white: rgba(255, 255, 255, .7);
	background-color: #E9E6D9;
}

/*flex-box*/

.container{
	display:  flex;
	width: 100vw;
	height: 100vh;	
	overflow: hidden;
}

.simulationSection{
	flex: 1 1 56%;
	align-content: center;
}

.manualSection{
	flex: 1 1 44%;
	overflow: hidden;	
}

.videoPlayer{	

	width: auto;
	/*Make scrollable if out of viewport*/
	height: 100vh;
	border-radius: 10px;
	position: relative;
}

.slider{
	/*cropping window size*/
	/*width: 240px;*/
	/*viewport*/
	height: 50vh;
	margin-right: var(--viewportMarginRight);
	border-radius: 10px;
	/*cropping window enable*/
	overflow: hidden;
	object-fit: cover;

	/*border: 2px solid red;*/
}

.instruction{
	height: 35vh;
	margin-right: var(--viewportMarginRight2);
	border-radius: 10px;
	object-fit: cover;

	/*border: 2px solid red;*/
}

.navigationBtn{
	height: 15vh;
	margin-right: var(--viewportMarginRight2);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 1.3vw;
	border-radius: 10px;
	object-fit: cover;

	/*border: 2px solid red;*/
}

/*slider*/

.slides{	
	/*control slides div to fit slider viewport*/
	/*X-distribution*/
	width: 200%;
	/*img size*/
	height: 20vh;
	display:  flex;
	margin-top: 6vh;	
	/*slide movement*/
	margin-left: 0;	
	transition: margin-left 2s;
}

.slide{
	/*X-distribution*/
	width: 100%;
	position: relative;
}

/*img size fit*/

.slide img{
	width: auto;
	height: 20vh;	
	position: absolute;
	left: 50%; 
    transform: translate(-50%, 0); 
}

.slide.one img{
	left: 50%;
}

.slide.two img{
	left: 32%;
}

.slide.three img{
	left: 40%;
}

.slide.four img{
	left: 58%;
}

.slide.five img{
	left: 50%;
}

.slide.six img{
	left: 35%;
}

/* video player*/

.videos{
	/*border: 2px solid black;*/
	/*control slide div to fit slider viewport*/
	/*how many images*/
	width: auto;
	/*img size*/
	height: 99vh;
}

.videox{
	width: auto;
	height: 99vh;	
	position: absolute;
	left: 50%; 
    transform: translate(-50%, 0); 
    display: none;
    z-index: -1;
}

.active{

}

#phaseOneV1{
	display: block;
}

/*Button*/

.button{
	font-size: 1vw;

	height: 1.2em;
	text-decoration: none;
	color: var(--clr-blue);
	/*border: var(--clr-blue) 0.125em solid;*/
	background: var(--clr-white);
	padding: 0.35em 1.2em;
	border-radius: 0.5em;
	margin-bottom: 7vh;
}

.button.main{
	color: white;
	background: var(--clr-blue);
}