@font-face {
    font-family: 'open_sans';
    src:local('OpenSans-Light-webfont.woff'), 
    	url('./Assets/Fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src:local('OpenSans-Regular-webfont.woff'),  
    	url('./Assets/Fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src:local('OpenSans-Semibold-webfont.woff'),  
    	url('./Assets/Fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
	font-family: "open_sans";
	margin: 0;
	padding: 0;			
	--viewportMarginRight: 2vw;
	--viewportMarginRight2: 5.3vw;
	--viewportMarginLeft: 4vw;
	--checkIconSize: 23%;
	--clr-blue: #1939d4;
	--clr-white: rgba(255, 255, 255, .7);
	--clr-shadow: rgba(0, 0, 0, .65);
	--clr-shadow2: rgba(15, 34, 128, .65);
	--clr-bg: #E9E6D9;
	/*background-image: url(Assets/BG1.jpg);*/
}

h3{
	font-size: 1.25vw;
	margin-top: 15%;
	margin-bottom: 7.5%;
	color: var(--clr-blue);
}

p{
	font-size: .9vw;
	margin-top: 0;
	color: var(--clr-blue);
}

/*flex-box*/

.container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* video player*/

.videos{
	width: auto;
	/*img size*/
	height: 100vh;
	position: relative;
}

.videox{
	width: 100vw;
	height: auto;	
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%,-50%); 
    display: none;
    z-index: -1;
}

.active{
	display: block;
	/*z-index: 1001;*/
}

.columns{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 10vw;
	height: 80%;
	position: absolute;
	top: 50%;
	left: -13%;
	transform: translate(0%,-54.2%);
	transition: left 2s ease-out;
}

.cMove{
	left: 4.5%;
}

.column{
	height: 100%;
	width: auto;
	position: relative;
	/*border: 2px solid blue;*/
}

.column img{
	height: 14vh;
	width: auto;
}

.checkIcon{
	/*1:1 aspect ratio*/
	height: var(--checkIconSize);
	padding-right: var(--checkIconSize);

	z-index: 5;
	position: absolute;
	left: 108%;
	bottom: var(--checkIconSize); 
}

.checkIcon img{
	height: 100%;
	position: absolute;
	top: 100%;
}

.navigationBtn{
	height: 15vh;
	margin-right: var(--viewportMarginRight2);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 1.3vw;
	border-radius: 10px;
	object-fit: cover;
	z-index: 5;
	position: absolute;
	right: -17%;
	bottom: 0%;
    transform: translate(0%,0%);    
	transition: right 2s ease-out;
}

.nMove{
	right: 0%
}

.site{
	display: flex;
	flex-direction: column;
	width: 16%;
	height: 15vh;
	margin-right: var(--viewportMarginRight2);
	position: absolute;
	right: -24%;
	top: 2.5%;
    transform: translate(0%,0%);
	transition: right 2s ease-out;
}

.site img{
	width: 100%;
	height: auto;
	border-radius: 11px;
}

.sMove{
	right: 0%;
}

.siteText{
	margin-top: 15%;
	position: relative;
	display: flex;
	justify-content: center;
}

.siteText2{
	margin-top: 15%;
	position: relative;
	display: flex;
	justify-content: center;
}

.stepx{
	width: 85%;	
	margin-bottom: 0;
}

.stepx2{
	width: 85%;	
	margin-bottom: 0;
	font-size: .7vw;
}

.stepx::before{	
	content: '';
	position: absolute;
	top: -1.8vh;
	bottom: -1.8vh;
	left: 0;
	right: 0;		
	border-radius: .5em;		
	z-index: -1;
	background: var(--clr-white);
}

.stepx2::before{	
	content: '';
	position: absolute;
	top: -.25vh;
	bottom: -.25vh;
	left: 0;
	right: 0;		
	border-radius: .5em;		
	z-index: -1;
	background: var(--clr-white);
}

/*Button*/

.button{
	font-size: 1vw;

	height: 1.2em;
	line-height: 1.2em;
	text-decoration: none;
	color: var(--clr-blue);
	/*border: var(--clr-blue) 0.125em solid;*/
	background: var(--clr-white);
	padding: 0.35em 1.2em;
	border-radius: 0.5em;
	margin-bottom: 7vh;
	position: relative;
}

.button.BGSlide::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0.5em;
	z-index: -1;
	background: var(--clr-blue);

	transition: transform 150ms ease-in-out;
	transform: scaleX(0);
	transform-origin: center;
}

.button.BGSlide:hover::before{
	transform: scaleX(1.0);
}

.button.BGSlide{
	transition: color 150ms ease-in-out;
	transition: scale 150ms ease-in-out;
	z-index: 1;
}

.button.BGSlide:hover{
	color: white;
	transform: scale(1.06);
}

.button.main.BGSlide.bMove{
	animation: 0.25s linear 28s 2 forwards btnAnim,
	0.25s linear 30s 2 forwards btnAnim,
	0.25s linear 32s 2 forwards btnAnim,
	0.25s linear 34s 2 forwards btnAnim,
	0.25s linear 36s 2 forwards btnAnim,
	0.25s linear 38s 2 forwards btnAnim,
	0.25s linear 40s 2 forwards btnAnim,
	0.25s linear 42s 2 forwards btnAnim,
	0.25s linear 44s 2 forwards btnAnim,
	0.25s linear 46s 2 forwards btnAnim;
}

@keyframes btnAnim{
	0%{		
		transform: rotate(0);
	}

	25%{		
		transform: rotate(3deg);
	}

	75%{		
		transform: rotate(-3deg);
	}

	100%{		
		transform: rotate(0);
	}
}

.text{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 6vh;

	height: 15vh;
	/*margin-right: var(--viewportMarginRight2);*/
	justify-content: flex-end;
	align-items: flex-end;
	object-fit: cover;
	z-index: 5;
	position: absolute;
	Left: 50%;
	bottom: 0%;
    transform: translate(-50%,0%);
}

.siteText3{
	display: none;
}

@media (max-width: 450px){
	body{
		--viewportMarginRight2: 2em;
	}

	p{
		font-size: .9em;
	}

	.button{
		font-size: 1em;
		margin-bottom: 0;
		margin-right: var(--viewportMarginRight2);
		margin-left: var(--viewportMarginRight2);
	}

	.videos{
		width: 100%;
		height: 100%;
	}

	.videox{
		width: auto;
		height: 100vh;	
		position: absolute;
		left: 50%;
		top: 50%;
  		transform: translate(-50%,-50%);   	  
	}

	.columns{
		display: none;
	}

	.site{
		display: none;
	}

	.navigationBtn{
		height: auto;
		width: 100vw;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;		
    	align-items: flex-start;
		justify-content: space-between;
		gap: 1.3em;
		position: fixed;
		/*height*/
		bottom: 4%;
		right: 0;
	}

	.nMove{
		right: 0%;
	}

	.instruction{
		display: flex;
		justify-content: center;
		width: auto;		
		position: fixed;
		top: 5%;	
		left: 50%;
		transform: translate(-50%,0);	
		margin-right: 0;		
	}

	.instruction img{
		width: 60%;
		transform: translate(0%,-5%);
	}

	.step.Active{
		color: white;
		background: var(--clr-blue);
	}

	.instruction2{
		width: calc(100% - 4em);	
		height: 10.6%;	
		position: fixed;
		top: 11%;	
		left: 50%;
		transform: translate(-50%,0);	
		margin-right: 0;	
	}

	.step{
		font-size: 1em;

		line-height: 1.5em;
		border-radius: 4px;
		color: var(--clr-blue);
	}

	.step2{
		position: relative;
	}

	.step2::before{	
		content: '';
		position: absolute;
		top: -1.5vw;
		bottom: -2vw;
		left: -35vw;
		right: 0;
		border-radius: 0.5em;
		z-index: -1;
		background: var(--clr-white);
	}

	.column{		
		text-align: center;
	}

	.marginL{
		margin-left: var(--viewportMarginRight2);
	}

	.marginL2{
		margin-left: 35vw;
	}

	.marginR{
		margin-right: var(--viewportMarginRight2);
	}

	h3{
		font-size: 1em;		
		margin-top: 0;
	}

	.moblieH3{
		display: block;
		position: fixed;
		top: 0%;
		transform: translateX(10px);		
	}

	.moblieP{		
		display: block;	
		position: fixed;
		top: 0%;
	}

	.siteText3{
		display: block;
		width: calc(100% - 4em);
		height: auto;
		position: fixed;
		top: 22%;
    	left: 50%;
    	transform: translate(-50%,0%);
    	display: flex;
    	justify-content: center;
	}

	.stepx3{
		width: 100%;
		font-size: 0.65em;		
		margin-bottom: 0;
		text-align: center;		
	}

	.step3{
		position: relative;
	}

	.step3::before{	
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0.25em;
		z-index: -1;
		background: var(--clr-white);
	}
}